@charset "utf-8";.Header {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

body, div, p, ul, li, img, h1, h2 {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #333;
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",
  "メイリオ",Meiryo,"MS Ｐゴシック","MS PGothic",sans-serif;
  font-size: 14px;
  font-weight: 500;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

*,*::before,*::after {
  word-break: break-all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HeaderStyle-begin */

/* Header */
.Header {
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 1080px) {
  .Header-Common {
    position: fixed !important;
  }
}

@media screen and (max-width: 1080px) {
  .Header {
    background-color: #fff;
    z-index: 10;
  }
}

@media screen and (max-width: 767px) {
  .Header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* HeaderContainer */
.HeaderContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 36px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .HeaderContainer {
    max-width: 100%;
    margin: 0 20px;
  }
}

/* HeaderLogo */
.HeaderLogo {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .HeaderLogo {
    transition: opacity .2s;
  }
  .HeaderLogo:hover {
    opacity: .8;
  }
}

/* HeaderLogo_image_pc */
.HeaderLogo_image_pc {
  display: block;
  height: 20px;
  width: auto;
}

@media screen and (max-width: 767px) {
  .HeaderLogo_image_pc {
    display: none;
  }
}

/* HeaderLogo_image_sp */
.HeaderLogo_image_sp {
  display: none;
  height: 16px;
  width: auto;
}

@media screen and (max-width: 767px) {
  .HeaderLogo_image_sp {
    display: block;
  }
}

/* HeaderNav */
.HeaderContainer>*:last-child {
  display: inline-flex;
}

/* HeaderNavHamburger */
.HeaderNavHamburger {
  display: none;
}

/* HeaderNavHamburger */
@media screen and (max-width: 1080px) {
  .HeaderNavHamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
  }
}

/* HeaderNavHamburger_line */
@media screen and (max-width: 1080px) {
  .HeaderNavHamburger_line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1080px) {
  .HeaderNavHamburger_line:first-child {
    top: 0;
  }
}

@media screen and (max-width: 1080px) {
  .HeaderNavHamburger_line:last-child {
    top: 100%;
  }
}

/* .HeaderNavList */
.HeaderNavList {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* HeaderNavList */
@media screen and (max-width: 1080px) {
  .HeaderNavList {
    position: fixed;
    left: 100%;
  }
}

/* HeaderNavListItem hover */
.HeaderNavListItem {
  margin-right: 45px;
}

.HeaderNavListItem:last-of-type {
  margin-right: 0;
}

/* HeaderNavListItem hover */
@media screen and (min-width: 768px) {
  .HeaderNavListItem {
    transition: opacity .2s;
  }
  .HeaderNavListItem:hover {
    opacity: .8;
  }
}

@media screen and (max-width: 1080px) {
  .HeaderNavListItem {
    margin-right: 0;
  }
}

@media screen and (max-width: 1080px) {
  .HeaderNavListItem:last-of-type {
    margin-top: 20px;
  }
}

/* HeaderNavListItem_link */
.HeaderNavListItem_link {
  display: block;
}

@media screen and (max-width: 1080px) {
  .HeaderNavListItem_link {
    padding: 20px 0;
  }
}

/* HeaderNavListItem_link>span  */
.HeaderNavListItem_link>span {
  display: block;
  font-weight: 700;
  text-align: center;
}

/* HeaderNavListItem_link>span:first-child  */
.HeaderNavListItem_link>span:first-child {
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 1080px) {
  .HeaderNavListItem_link>span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
  }
}

/* HeaderNavListItem_link>span:last-child */
.HeaderNavListItem_link>span:last-child {
  font-size: 10px;
}

@media screen and (max-width: 1080px) {
  .HeaderNavListItem_link>span:last-child {
    font-size: 12px;
    margin-top: 10px;
    letter-spacing: 2px;
  }
}

/* HeaderNavListItem_button */
.HeaderNavListItem_button {
  align-items: center;
  background-color: #f79214;
  border: none;
  border-radius: 38px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 12px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 0 20px;
}

/* HeaderNavListItem_button hover */
@media screen and (min-width: 768px) {
  .HeaderNavListItem_button {
    transition: opacity .2s;
  }
  .HeaderNavListItem_button:hover {
    opacity: .8;
  }
}

/* HeaderNavListItem_button:visited */
.HeaderNavListItem_button:visited {
  color: #fff;
}

/* HeaderStyle-end */


/* MainStyle-begin */

.main {
  display: block;
}

@media screen and (max-width: 1080px) {
  main {
    padding-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 52px;
  }
}

/* FirstView */
.FirstView {
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 28px;
}

@media screen and (max-width: 767px) {
  .FirstView {
    background-image: none;
    padding-top: 0;
    padding-bottom: 35px;
  }
}

/* FirstView_main_image */
.FirstView_main_image {
  width: 100%;
}

/* FirstView_main_image-sp */
.FirstView_main_image-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .FirstView_main_image-sp {
    display: block;
  }
}

/* FirstView_container */
.FirstView_container {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .FirstView_container {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .FirstView_container {
    margin-top: -45vw;
  }
}

/* FirstViewContent */
.FirstViewContent {
  margin-bottom: 70px;
  width: fit-content;
}

@media screen and (max-width: 767px) {
  .FirstViewContent {
    margin-bottom: 20px;
    width: 100%;
  }
}

/* FirstViewContent_title */
.FirstViewContent_title {
  color: #333;
  font-family: 'Lato',sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 15px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .FirstViewContent_title {
    font-size: 25px;
    line-height: 36px;
    margin-left: calc(((100vw - 100%)/2)*-1);
    margin-right: calc(((100vw - 100%)/2)*-1);
  }
}

/* FirstViewContent_images */
.FirstViewContent_images {
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .FirstViewContent_images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}

/* FirstViewContent_images img */
.FirstViewContent_images img {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .FirstViewContent_images img {
    width: 27.5%;
  }
}

.FirstViewContent_images img:nth-of-type(2) {
  width: 40%;
}

.FirstViewContent_images img:last-of-type {
  margin-right: 0;
}

/* FirstViewContent_buttons */
.FirstViewContent_buttons {
  display: flex;
}

@media screen and (max-width: 767px) {
  .FirstViewContent_buttons {
    flex-direction: column;
  }
}

/* FirstViewContent_buttons a */
.FirstViewContent_buttons a {
  align-items: center;
  background-color: #f79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.FirstViewContent_buttons a:visited {
  color: #fff;
}

.FirstViewContent_buttons a span:first-child {
  font-family: 'Lato',sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.FirstViewContent_buttons a span:last-child {
  font-size: 12px;
  line-height: 18px;
}

/* FirstViewContent_buttons hover */
@media screen and (min-width: 768px) {
  .FirstViewContent_buttons a {
    transition: opacity .2s;
  }
  .FirstViewContent_buttons a:hover {
    opacity: .8;
  }
}

@media screen and (max-width: 767px) {
  .FirstViewContent_buttons a {
    width: 100% !important;
  }
}

.FirstViewContent_buttons a:first-of-type {
  margin-right: 15px;
  width: 306px;
}

@media screen and (max-width: 767px) {
  .FirstViewContent_buttons a:first-of-type {
    margin-right: 0;
  }
}

.FirstViewContent_buttons a:last-of-type {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  color: #333;
  width: 176px;
}

@media screen and (max-width: 767px) {
  .FirstViewContent_buttons a:last-of-type {
    display: none;
  }
}

/* FirstViewCaption */
.FirstViewCaption {
  color: #a2a2a4;
  font-size: 12px;
}

.FirstViewCaption a {
  color: #a2a2a4;
}

/* AboutWrapper */
.AboutWrapper {
  background-color: #f79214;
  padding: 44px 0;
}

@media screen and (max-width: 767px) {
  .AboutWrapper {
    padding: 30px 0;
  }
}

/* About */
.About {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .About {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .About {
    flex-direction: column;
  }
}

/* About_video */
.About_video {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .About_video {
    margin-bottom: 16px;
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .About_video {
    width: 100%;
  }
}

/* About_title */
.About_title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 0;
  margin-left: 32px;
}

.About_title::after {
  border-bottom: 6px solid #f79214;
  content: '';
  display: block;
  margin-top: 10px;
  width: 50px;
}

@media screen and (max-width: 1024px) {
  .About_title {
    margin-left: 0;
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .About_title {
    margin-bottom: 0;
    width: 100%;
  }
}

.About_title:after {
  display: none;
}

.About_title h2, .About_title p {
  color: #fff;
  text-align: left;
}

/* About_title h2 */
.About_title h2 {
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",
  "メイリオ",Meiryo,"MS Ｐゴシック","MS PGothic",sans-serif;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 54px;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 400px) {
  .About_title h2 {
    font-size: 33px;
    line-height: 1.4;
    /* white-space: pre; */
    word-break: keep-all;
  }
}

.About_title h2>span {
  font-family: 'Lato',sans-serif;
  font-size: 38px;
}

.About_title h2 span {
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .About_title h2 span {
    letter-spacing: 1px;
  }
}


/* About_title p */
.About_title p {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
}

/* About_title br */
.About_title br {
  display: none;
}

@media screen and (max-width: 400px) {
  .About_title br {
    display: block;
  }
}

/* About-button */
.About-button {
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.About-button>img {
  margin-right: 5px;
}

/* MainStyle-end */